<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag('mark-github.svg', size: 28) %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search GitHub">
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li><a href="#">Pull requests</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="#">Issues</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="#">Gist</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag("plus.svg") %>  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New repository</a></li>
            <li><a href="#">Import repository</a></li>
            <li><a href="#">New gist</a></li>
            <li><a href="#">New organization</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag(current_user.image, size: 20) %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-logged-in-notice">Signed in as <%= current_user.username %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Your profile</a></li>
            <li><a href="#">Your stars</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li><%= link_to "Sign out", logout_path, method: :delete %></a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
